<h1 align='center'>  Sign up  </h1>

<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>

  <%end%>
</ul>

<%end%>

<%= form_for @user do |f| %>
    <p>
        <%= f.label :username %> <br>
        <%= f.text_field :username, placeholder:"Enter username" %>
        
    </p>
    <p>
        <%= f.label :email %> <br>
        <%= f.email_field :email, placeholder:"Enter email" %>
    </p>
    <p>
        <%= f.label :passwrod  %> <br>
        <%= f.password_field :password, placeholder:"Enter password" %>
    </p>
    <p>
        <%= f.submit "Sign up" %> 
    </p>

<% end %>

<%= link_to "Go back to articles listing", articles_path%>   